<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>52309844782-jc0fpd38udvmsohqffg2hr8fvt0clrri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52309844782-jc0fpd38udvmsohqffg2hr8fvt0clrri</string>
	<key>API_KEY</key>
	<string>AIzaSyCSOtHY81F8y4WHggwWOog41QN6p2qAii0</string>
	<key>GCM_SENDER_ID</key>
	<string>52309844782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cs4261.SCAT-5-Test</string>
	<key>PROJECT_ID</key>
	<string>scat5diagnose</string>
	<key>STORAGE_BUCKET</key>
	<string>scat5diagnose.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:52309844782:ios:1421c9009b506d40</string>
	<key>DATABASE_URL</key>
	<string>https://scat5diagnose.firebaseio.com</string>
</dict>
</plist>
